.Navbar
    display: flex
    flex-direction: row
    width: 100%
    justify-content: space-between
    height: 3rem
    align-items: center
    background-color: white
    border-bottom: 1px solid #E4E4E4
    position: fixed
    top: 0
    left: 0
    padding: 1.8rem 4rem
ul
    list-style-type: none
    padding: 0
    margin: 0
    display: flex
    flex-direction: row
    gap: 2rem

.right_nav
    display: flex
    flex-direction: row
    gap: 2rem
    align-items: center
    font-size: .9rem

.mainLogo
    font-size: 1.2rem
    letter-spacing: .5px
    font-weight: 700

.nav_login
    color: rgb(76, 165, 241)

    &:hover
        font-weight: 600
        text-decoration: underline
        color: rgb(76, 165, 241)

